apiVersion: v1
baseDomain: {{ network_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ openshift_domain }}
networking:
  clusterNetworks:
  - cidr: {{ openshift_clusternet }}
    hostPrefix: {{ openshift_clusternetprefix }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ openshift_servicenet }}
platform:
  none: {}
pullSecrt: 'FILL ME IN'
sshKey: 'FILL ME IN'
