ddns-update-style interim;
ignore client-updates;
authoritative;
allow booting;
allow bootp;
allow unknown-clients;
# Set default and max IP lease time to infinite  with -1 value
default-lease-time -1;
max-lease-time -1;

subnet {{ dhcp_network }} netmask {{ dhcp_netmask }} {
        option routers {{ dhcp_options_router }};
        option domain-name-servers {{ dhcp_options_dns }};
        option ntp-servers {{ dhcp_options_ntp_server }};
        option domain-search {{ dhcp_options_dns_search }};
        filename "pxelinux.0";
        {% for vm in groups['helper_vm'] %}
        next-server {{ hostvars[vm].vm_ipaddress }};
        {% endfor %} 
        {% for vm in groups['ocp4_master_vm'] %}
          {% if vm not in groups['ocp4_bootstrap_vm'] %}
            host {{ vm }} { hardware ethernet {{ hostvars[vm].vm_macaddress }}; fixed-address {{ hostvars[vm].vm_ipaddress }}; option host-name "{{ vm.split('.')[0] }}"; }
          {% endif %}
        {% endfor %} 
        {% for vm in groups['ocp4_bootstrap_vm'] %}
          host {{ vm }} { hardware ethernet {{ hostvars[vm].vm_macaddress }}; fixed-address {{ hostvars[vm].vm_ipaddress }}; option host-name "{{ vm.split('.')[0] }}"; }
        {% endfor %}
        {% for vm in groups['ocp4_worker_vm'] %}
          host {{ vm }} { hardware ethernet {{ hostvars[vm].vm_macaddress }}; fixed-address {{ hostvars[vm].vm_ipaddress }}; option host-name "{{ vm.split('.')[0] }}"; }
        {% endfor %}
}