apiVersion: v1
baseDomain: {{ network_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ groups['ocp4_master_vm'] | length - 1 }}
metadata:
  name: {{ openshift_domain }}
networking:
  clusterNetworks:
  - cidr: {{ openshift_clusternet }}
    hostPrefix: {{ openshift_clusternetprefix }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ openshift_servicenet }}
platform:
  none: {}
pullSecret: '{"auths": {"registry.local.bytewise.my": {"auth": "bXphbGk6TmF1cmFoMjAxMg=="}}}'
sshKey: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCVnCuYHGGCLfbgmngKzj5xEFlH+cHceVZVTYxzPElPnnt+N74CPz3AMTSD143q5pcxVhaHycBYVZouGJzXU+slYzalNx5rRXN5VjQgvc6TRWbQofnNMiIHJFczc4rLwe9jfCUIsLrVELxPVFhdW3xpo8GvvhGOJAbCEsLrP1UFz8HMtEA7605X96//xBzO4jLvEUUTpU6IyYwyDZtiKERbohS44AaC/0ohAtRpvzSFCg09HJeTuLtLtuLaOfYaxUZ2USXfBzFPvIr/Vfe8YEfFOWvtn/RsFX0MRC9e1swMiyJvNfXPOYn1DooFGJrsATwsnpQPaC41csJWs7rNoFgUbD+54y1V1D2pSI2y1k/3oU+gX6uBPo0RQWpX8T3X/WAjSpE76gfEpN8HpJvqhpv4u8K/fyJoKq9kR99YALr+c+hOjjsLS0iXOt9ba5lHzr0+x3me0RI5rIUFenTy9JPZSAjO/QbRRI4t34lO1qagtpLNy7N2AsVPffgZAwaUmAc= mzali@mzali-fedora.redhat.com'
additionalTrustBundle: |
  -----BEGIN CERTIFICATE-----
  MIIF5TCCA82gAwIBAgIUN/7cw2wGXWdL6UjQZpwGe5sdrCowDQYJKoZIhvcNAQEL
  BQAwgYExCzAJBgNVBAYTAk1ZMREwDwYDVQQIDAhTZWxhbmdvcjEPMA0GA1UEBwwG
  U2VwYW5nMRAwDgYDVQQKDAdSZWQgSGF0MRMwEQYDVQQLDApDb25zdWx0aW5nMScw
  JQYDVQQDDB5jdXN0b21zaWduZXIubG9jYWwuYnl0ZXdpc2UubXkwHhcNMTkxMDE5
  MTEzNDA1WhcNMjIwODA4MTEzNDA1WjCBgTELMAkGA1UEBhMCTVkxETAPBgNVBAgM
  CFNlbGFuZ29yMQ8wDQYDVQQHDAZTZXBhbmcxEDAOBgNVBAoMB1JlZCBIYXQxEzAR
  BgNVBAsMCkNvbnN1bHRpbmcxJzAlBgNVBAMMHmN1c3RvbXNpZ25lci5sb2NhbC5i
  eXRld2lzZS5teTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAMzUXBH5
  0ZzDfSwpK8zTno1PwZHA9dGlNcVEpk3Ga0yb28Qy08g6DZQj85VasYAO84J6GxHs
  icUGCzZa2TKucEheJ4P/9JQSI1bdDlTZE1C6LqJSgzIM2zETXP45KS/POcnTjZ45
  Sifj7NluvDP1sL9LCtTaO+Xxw19NkVG2bFdO6DKAWimbpB9HOKWqPDemnLK2k8gc
  8ppsw4xHdsPtoqVvqx/b9lo+q0eTQfNrdxG5gowVwSz2TwNqukDoHw8OoAMdR4mV
  xNWAGBFFrX1k5VW2SzU2hjCUTdRcETu9Eh7FthY5RLumFNH7Cv89dp7RkAXWhYMY
  zSQyQ+hliVYu4yZpQ+YN9qAd4+orvZexNtDAUjA0JG4tpYUj3WUM+e+5AZfiTxiH
  86eT5pJl5iGTDcuBCfSTvVW6d1ethykVNZ616uhqngGkQo5AU/Amv7mZm+9jmdoo
  fHRT1FYdZkv53dP6t7tvuZe7o8v8X54OIMFl8W20zGveqMSsXCEf8XQRsueZVzIN
  4Qvr6oKK4dG4OAJH+y5GRPn0GcELcHgteN3hFkPsoKYDqM3OJYt7U/iX8AVM86s/
  hT5NFNNM9aYryP9NA76Keo5UM7O0ZN5GlHLuB2ImckH9KKSevtVIuAxilosay+f8
  XZsOcg1vfyH8ac9liwGGPkK/rsW4IRgrEqi7AgMBAAGjUzBRMB0GA1UdDgQWBBTE
  hslgdGVpFFJNj//y96tgAolF3DAfBgNVHSMEGDAWgBTEhslgdGVpFFJNj//y96tg
  AolF3DAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4ICAQCTT1kAhE2y
  SZOEzYdGqHUXxK0Zt/lOf/dJ4exrJejcN1S+XZZrL9RpnEwzd8RKLL2TzTiNk7hI
  gKvJ3CZsi4urE6eLYw4Adc51uO1y1MtG+H1UurQUd1y/pMwLrEL0ef7SRigshHgf
  1BYvWtY4RXCQ7+FKxx0VAydUwSQSSBBqg1G7rL3YPQJhbsJfXdI9dswuBith8mJj
  FJHl1eowTI3VATuxyKrUwUE3UBjNYLfoa8YJw6Mu/Cpke+D+i30AnfifWYHCnoz2
  IWb9w6Frl/rZkFIq+TrB1OfeXCrTYtKqOG63zen+bL4kOAG5IRo2YKEEAGs60wyD
  vTHEkzyiLJyQGAQ6jO8Fod0m6UdKz6eJWlELJWct3repge+z1Z151lOUz/tfBlWP
  fQIiqJOa6+40aqzq165vWVmmJCYZKgSH+4x0bHcohvlahGw8MlocpA9fXvsKNSZR
  7ZpVf4U4TWxPPvWeZfnZgzBI5qnAZU9Un31JDtm/ctgDCVj4JGdoljxTd0E+K6Sw
  X7QmnQpig/Sa5l9EUqy5YdhYUgxbBJtEPdHpSfQpVjdHSMWy17MXkrCjXyQ+ITI4
  d8z1qAEtfpj0b9vRH3UfleRxuDn5DJxzojavSwrPaygEfkfiKJkaE7P8+pvWtijM
  9quUtHSeA8adIxn4hG+dLTuGItTDuzVG7A==
  -----END CERTIFICATE-----
imageContentSources:
- mirrors:
  - registry.local.bytewise.my/mzali/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - registry.local.bytewise.my/mzali/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
