$TTL     1D
@        IN  SOA dns.ocp4.local.bytewise.my. root.local.bytewise.my. (
                       2019022400 ; serial
                       3h         ; refresh
                       15         ; retry
                       1w         ; expire
                       3h         ; minimum
)
    IN  NS  dns.ocp4.local.bytewise.my.
60 IN PTR bootstrap.ocp4.local.bytewise.my.
61 IN PTR master01.ocp4.local.bytewise.my.
62 IN PTR master02.ocp4.local.bytewise.my.
63 IN PTR master03.ocp4.local.bytewise.my.
64 IN PTR infra01.ocp4.local.bytewise.my.
65 IN PTR infra02.ocp4.local.bytewise.my.
66 IN PTR worker01.ocp4.local.bytewise.my.
68 IN PTR worker02.ocp4.local.bytewise.my.
68 IN PTR worker03.ocp4.local.bytewise.my.

